body{
    margin: 0px;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    padding: 0%;
}

.Log_In{
    background: black;
    width: 350px;
    height: 260px;    
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-sizing: bolder-box;
    padding: 70px 30px;
}

.Log_In p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.Log_In input{
    width: 100%;
    margin-bottom: 20px;
}

.Log_In input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: aqua;
    font-size: 16px;
}

.Log_In input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: midnightblue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.Log_In input[type="submit"]:hover{
    cursor: pointer;
    background: darkblue;
    color: red;
}

.Log_In a{
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    color: cyan;
}

.User{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}